{% extends "base.html" %}
{% block body %}
<section class="intro">
    <p>Je suis Nadheer, développeur iOS basé en France 🇫🇷. Depuis plus de 12 ans, 
      j'ai eu l'opportunité de travailler sur des projets variés, allant de l'ensemble du cycle de vie 
      des applications mobiles, de l'analyse des besoins à la mise en production, 
      avec une attention particulière à l'expérience utilisateur et aux performances.
    </p>
    <p>
      Sur mon temps libre, je me forme sur la cybersécurité, l'IA et le DevOps, au travers de divers projets personnels.
    </p>
</section>
<section class="posts">
    <h2>Articles</h2>
    <ul>
        {% for post in posts %}
        <li class="post-item">
            <div class="post-image">
                <img src="{{ post.image }}" alt="{{ post.title }}">
            </div>
            <div class="post-content">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
<section class="projects">
    <h2>Projets</h2>
    <ul>
        <li>
            <span class="name"><a class="project-link" href="">ReadEase</a>
            </span> .......... Lecteur de fichiers CBZ, CBR, PDF. (Offline)
        </li>
        <li>
            <span class="name">
                <a class="project-link" href="https://github.com/nchatharoo/Stories">Stories</a>
                .......... Instagram Stories. (Online)
            </span>
        </li>
        
    </ul>
</section>
{% endblock body %}