{% extends "base.html" %}
{% block body %}
  <section class="intro">
    <p>Hello, je suis un développeur iOS expérimenté basé en France 🇫🇷. 
      <br/>J'ai lancé ce blog pour partager mes connaissances et mon expérience.</p>
      <p>Bonne lecture!</p>
  </section>
  <section class="posts">
    {% for post in posts %}
    <article class="post-item">
      <div class="post-image"><img src="{{ post.image }}" alt="{{ post.title }}"></div>
      <div class="post-content">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      </div>
    </article>
    {% endfor %}
  </section>
{% endblock body %}